.exp_section

{

    display: flex;
    justify-content: center;
    


    .container_div_exp
    {
    
        width: 80%;
        color: white;
        font-family: Preahvihear;
        


        .main_container
        {

            background: radial-gradient(10% 35% at center, #763CAC 0%, rgba(50, 15, 133, 0) 100%) , 
            center center/auto 50% no-repeat;

        
                .exp_div_container
            {

                display: grid;
                grid-template-columns:1fr 1fr;

                .bg_fordiv
                {
                    background-color:hsla(265,63%,7%,1);
                }
                
                .exp_div_div1
                {
                    border-radius: 15px;
                    height: 168.06px;
                    margin: 1vw 1vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    p
                    {
                        
                        font-size: 0.7rem;

                    }

                    div 
                    {
                        display: inline-block;
                        margin-left: 3%;
                    }
                    button
                    {
                        background-color: #2C1250;
                        border: none;
                        height: 1.5rem;
                        border-radius: 1rem;
                        
                        a 
                        {
                            text-decoration: none;
                            color: white;
                            font-family: Preahvihear;
                        }
                    }
                
                }

                .div_1
                {
                    background-image:
                    radial-gradient(at 0% 0%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 100% 100%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 100% 40%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }
                .div_2 
                {
                    background-image:
                    radial-gradient(at 100% 0%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 35%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }

                .div_3
                {
                    background-image:
                    radial-gradient(at 0% 98%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 99% 0%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 100% 59%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }

                .div_4
                {
                    background-color:hsla(265,63%,7%,1);
                    background-image:
                    radial-gradient(at 100% 100%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 0% 1%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 65%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }
        }


        }

        
        
}
  
  
  
}