@import './breackpoint.scss' ;




.pof_sec1
{
    padding: 0 15vw;
    margin-top: 5vh ;
    height: fit-content;
    position: relative;

    @include Mobile{
        margin-top: 4rem;
    }

    @include Mobile {
        padding:  0;
    }



    .div_sec1
    {
        display: flex;
        align-items: center;

        @include Mobile 
        {
            flex-direction: column;
            justify-content: center;
        }
        .Iam_
        {
            position: absolute;

            @include Desktop
            {
                top: -6%;
                left: 29%;

            }
            @include Mobile 
            {
                left: 55%;
                top: -1%;      
            }
            
            
            img 
            {
                top: 25%;
                left: -37%;        
                position: absolute;

                @include Mobile {
                    top: 9%;
                    left: -58%;
                }
            
            }
            p
            {
                color: white;
                font-size: 19px;
                font-family: 'Preahvihear', sans-serif;
                font-weight: 400;
                line-height: 97px;
                word-wrap: break-word ;
                display: inline-block;
                span 
                {
                    color: #7127BA;
                }

                @include Mobile
                {
                    line-height: 30px;
                    font-size: 16px;
                }


            }
        }

        .img1_div
        {
            width: 17vw;
            height: 22vw;

            background-image:
            radial-gradient(at 48% 46%, hsla(30,78%,61%,0.57) 0px, transparent 50%),
            radial-gradient(at 49% 47%, hsla(240,100%,70%,1) 0px, transparent 50%),
            radial-gradient(at 49% 47%, hsla(343,100%,76%,0.52) 0px, transparent 50%);
            display: flex;
            justify-content: center;
            align-items: center;


            img 
            {
                width: 50%;
            }
            
            @include Mobile
            {
                width: 74vw;
                height: 91vw;

                margin-right: 40%;
            }
        }

        .Judge
        {
            color: white;
            font-size: 2.5vw;
            font-family: Preahvihear;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 1px;
            word-wrap: break-word;

            @include Mobile {
                font-size:11.5vw;
                text-align: center;
            }

            #cover
            {
                color: #7127BA;
                background: url('../imgs/Ellipse 5.png') center center/98% 66% no-repeat;
            }
            .pragph
            {
                font-size: 0.7vw;
                line-height: 0px;

                @include Mobile{
                    font-size: 2.5vw;
                }
                
            }
        }

    }


    

    .Iam_a_soft
    {
        color: white;
        font-family: Preahvihear;
        font-weight: 400;
        letter-spacing: 1px;
        word-wrap: break-word ;

        @include Mobile {
            margin-top: 2rem;
            text-align: center;
        }

        h1 
        {
            font-size: 2.5vw;
            margin: 0;

            @include Mobile 
            {
                font-size:5.5vw;
            }

        }
        p 
        {
            font-size: 1vw;
            #at_c
            {
                color: #1877F2;
            }

            @include Mobile {
                font-size: 2vw;

            }
        }
    }
    
}