$breakpoints: (
  Mobile:480px,
  Tablet:1024px,
  Desktop:1025px
);



@mixin Mobile {
  @media (max-width: map-get($breakpoints , 'Mobile')) {
    @content;
  }
}

@mixin Tablet {
  @media (max-width: map-get($breakpoints , 'Tablet')) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: map-get($breakpoints , 'Desktop')) {
    @content;
  }
}

