@import './breackpoint.scss' ;


.nav_
{
    background: #1A0B2E;
    display: flex;
    justify-content: center;
    // height: 10vh;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.10);
    padding: 0.5rem 0rem;

    @include Tablet {
        padding: 0.2rem 1rem;
        justify-content: space-between;
    }


    .div_1
    {
        display: flex;
        justify-content: space-between;
        width: 55%;

        @include Tablet {
            width: 100%;
            align-items:  center;
        }

        .div_1-1
        {
            display: flex;
            align-items: center;
            // img
            // {
            //     width: 1.8vw;
            //     //@ must include tablet befor Mobile
            //     @include Tablet {    
            //        width: 4.5vw ;
            //     }

            //     @include Mobile {
            //                     width:7vw;
            //     }



            // }

            .logo
            {
                color: white;
                text-shadow: -13px -1px 24px rgba(249, 16, 215, 0.8),
                                0px 0px 32px rgba(16, 62, 249, 0.8),
                                0px 0px 8px rgba(16, 249, 97, 0.8);
                font-family: "Preahvihear", sans-serif;
            }
        }


        .div_1-2
        {
            display: flex;
            gap: 9vw;
            align-items: center;

            @include Tablet {
                display: none;
            }


            a
            {
                color: white;
                font-size: 1.2vw;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                letter-spacing: 0.40px;
                word-wrap: break-word ;
                text-decoration: none;
            }
        }

        
        
    }
    .div__
        {
            width: 100%;
            height: 100%;
            background: radial-gradient(100.00% 100.00% , #763CAC 0%, rgba(50, 15, 133, 0) 100%); 
            border-radius: 9999px
        }

    .div-bar{
        @include Desktop {
            display: none;
        }
        i{
            font-size: 1.5rem;
            color: azure;
        }

    }
}