@import './breackpoint.scss' ;

.exp_section

{

    display: flex;
    justify-content: center;
    
    margin-top: 4rem;
    @include Tablet {
    }
    


    .container_div_exp
    {
    
        width: 80%;
        color: white;
        font-family: Preahvihear;

        @include Tablet {
            width:  fit-content;
        }
        img {
            width: 20%;
        }
        


        .main_container
        {

            background: radial-gradient(10% 35% at center, #763CAC 0%, rgba(50, 15, 133, 0) 100%) , 
            center center/auto 50% no-repeat;

            @include Mobile {
                background: none;
            }

        
                .exp_div_container
            {

                display: grid;
                grid-template-columns:1fr 1fr;

                @include Mobile {
                    grid-template-columns: 1fr;
                }

                .bg_fordiv
                {
                    background-color:hsla(265,63%,7%,1);
                }
                
                .exp_div_div1
                {
                    border-radius: 15px;
                    height: 168.06px;
                    margin: 1vw 1vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: fit-content;
                    padding: 1rem 0;

                    @include Mobile {

                        margin: 3vw 2vw;
                    }
                    

                    p
                    {
                        
                        font-size: 0.7rem;
                        @include Desktop {
                            font-size: 1rem;
                        }

                    }
                    h1{
                        @include Mobile {
                            font-size: 5vw;
                        }
                    }

                    div 
                    {
                        display: inline-block;
                        margin-left: 3%;
                    }
                    button
                    {
                        background-color: #2C1250;
                        border: none;
                        border-radius: 1rem;
                        padding: 0.5rem;
                        
                        a 
                        {
                            text-decoration: none;
                            color: white;
                            font-family: Preahvihear;
                        }
                    }
                
                }

                .div_1
                {
                    background-image:
                    radial-gradient(at 0% 0%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 100% 100%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 100% 40%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }
                .div_2 
                {
                    background-image:
                    radial-gradient(at 100% 0%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 35%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }

                .div_3
                {
                    background-image:
                    radial-gradient(at 0% 98%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 99% 0%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 100% 59%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }

                .div_4
                {
                    background-color:hsla(265,63%,7%,1);
                    background-image:
                    radial-gradient(at 100% 100%, hsla(254,48%,25%,0.69) 0px, transparent 50%),
                    radial-gradient(at 0% 1%, hsla(266,53%,32%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 65%, hsla(266,53%,32%,0.35) 0px, transparent 50%);
                    @extend .bg_fordiv ;
                }
        }


        }

        
        
}
  
  
  
}