<section class="pof_sec1">
    <div class="div_sec1">
         <div class='Iam_'>
             <img src='./imgs/Arrow.png'  alt="" />
             <p>
                 Hello! I Am <span>ABDELLATIF HOUR</span>
             </p>
         </div>

         <div class='img1_div'>
             <img src='./imgs/image 1.png' alt="" />
         </div>
         
         <div class="Judge">
             <span class="pragph">
                 A Designer who
             </span>
             <div>
                 <span>Judges a book<br/>by its </span>
                 <span id="cover">cover</span>
                 <span>...</span>
             </div>
             <span class="pragph">
                 Because if the cover does not impress you what else can?
             </span>
         </div>
     </div>
         

         <div class="Iam_a_soft">
             <h1>
                 I'm a Software Engineer.| 
             </h1>
             <p>
                <span>Currently, I'm a Software Engineer at  </span><span id="at_c">Facebook</span><span>,</span>
             </p>
             <p>
                A self-taught UI/UX designer, functioning in the industry for 3+ years now.<br/>
                I make meaningful and delightful digital products that create an equilibrium<br/>
                between user needs and business goals.
             </p>
         </div>

      
      

 </section>
