<section class="project-section">
    <div class="content">
        <div class="part-1">
            <h6 class="title">Featured  Project</h6>
            <h3 class="ex-project">Example Project</h3>
            <div class="bg-para">
                <p>
                    A web app for visualizing personalized Spotify data. View your
                    top artists, top tracks, recently played tracks, and detailed audio
                    information about each track. Create and save new playlists of
                    recommended tracks based on your existing playlists and more.
                </p>
            </div>
            <div class="icons-s4">
                
            </div>
        </div>
        <div class="part-2"></div>
    </div>
</section>