<section class="skills-section">
    <div class="container">
        <div class="div-para">
            <p>I'm currently looking to join a <span class="croos-fun">cross-functional</span> team <br>
                <span class="little-para">that values improving people's lives through accessible design</span> 
            </p>
        </div>
        
        <div class="div-skills-icons">
            <div class="icons border width-fit">
                
                <div class="border width-fit">
                    <img class="mar-left" src="../icons/Rectangle 1.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 2.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 3.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 4.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 5.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 6.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 7.png" alt="">
                </div>
                <div class="border width-fit mar-top">
                    <img class="mar-left" src="../icons/Rectangle 8.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 9.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 10.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 11.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 12.png" alt="">
                    <img class="mar-left" src="../icons/Rectangle 13.png" alt="">
                </div>
            </div>
            
            <div class="lines">
                <svg xmlns="http://www.w3.org/2000/svg" width="119" height="302" viewBox="0 0 119 302" fill="none">
                    <path d="M0.5 1C44.1667 48.5 125.2 193.5 118 301.5" stroke="url(#paint0_linear_224_10)"/>
                    <defs>
                      <linearGradient id="paint0_linear_224_10" x1="64.2522" y1="26" x2="64.2522" y2="301.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3D1768"/>
                        <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                      </linearGradient>
                    </defs>
                </svg>

                <svg width="68" height="312" viewBox="0 0 68 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1C44.6667 48.5 73.2003 203 66.0003 311" stroke="url(#paint0_linear_1_164)"/>
                    <defs>
                      <linearGradient id="paint0_linear_1_164" x1="37.4225" y1="24" x2="37.4225" y2="311" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3D1768"/>
                        <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                      </linearGradient>
                    </defs>
                  </svg>

                  <svg width="23" height="314" viewBox="0 0 23 314" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1C20.2534 73.3321 22 254.819 22 314" stroke="url(#paint0_linear_1_165)"/>
                    <defs>
                    <linearGradient id="paint0_linear_1_165" x1="24" y1="27" x2="24" y2="324" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#3D1768"/>
                    <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                    </svg> 
            </div>

            <div class="border ">
                <div class="img-M ">
                    <img src="../imgs/Logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>