<section class="exp_section">

    <div class="container_div_exp">
        <h1 id="titl_workexp">Work Experience</h1>
       
        <div class="main_container">
            <div class="exp_div_container" id="exp_div_container1">
                <div class="exp_div_div1 div_1">
                    <img src="../imgs/Rectangle.png" alt="">
                    <div>
                        <h1>CIB on the Mobile</h1>
                        <p>Take your client onboard seamlessly by our amazing<br/>tool of digital onboard process.<br/></p>
                        <button><a href="">LEARN MORE</a></button>
                    </div>
                </div>
                <div class="exp_div_div1 div_2">
                    <img src="../imgs/Rectangle (1).png" alt="">
                    <div>
                        <h1>CIB on the Mobile</h1>
                        <p>Take your client onboard seamlessly by our amazing<br/>tool of digital onboard process.<br/></p>
                        <button><a href="">LEARN MORE</a></button>
                    </div>
                </div>
            </div>
            <div class="exp_div_container" id="exp_div_container2">
                <div class="exp_div_div1 div_3">
                    <img src="../imgs/Rectangle (2).png" alt="">
                    <div>
                        <h1>CIB on the Mobile</h1>
                        <p>Take your client onboard seamlessly by our amazing<br/>tool of digital onboard process.<br/></p>
                        <button><a href="">LEARN MORE</a></button>
                    </div>
                </div>
                <div class="exp_div_div1 div_4">
                    <img src="../imgs/Rectangle (3).png" alt="">
                    <div>
                        <h1>CIB on the Mobile</h1>
                        <p>Take your client onboard seamlessly by our amazing<br/>tool of digital onboard process.<br/></p>
                        <button><a href="">LEARN MORE</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>