
    <section class="skills-section">
        <div class="container">
            <div class="div-para">
                <p>I'm currently looking to join a <span class="croos-fun">cross-functional</span> team <br>
                    <span class="little-para">that values improving people's lives through accessible design</span> 
                </p>
            </div>
            
            <div class="div-skills-icons">
                <div class="icons border width-fit">
                    
                    <div class="border width-fit">
                        <div class="icon"> <img class="mar-left" src="../icons/Rectangle 1.png" alt="">
                       </div>
                        <div class="icon"> <img class="mar-left" src="../icons/Rectangle 2.png" alt="">
                       </div>
                        <div class="icon"><img class="mar-left" src="../icons/Rectangle 3.png" alt="">
                        </div>
                        <div class="icon"> <img class="mar-left" src="../icons/Rectangle 4.png" alt="">
                       </div>
                        <div class="icon"><img class="mar-left" src="../icons/Rectangle 5.png" alt="">
                        </div>
                        <div class="icon"> <img class="mar-left" src="../icons/Rectangle 6.png" alt="">
                       </div>
                        <div class="icon"><img class="mar-left" src="../icons/Rectangle 7.png" alt="">
         </div>
                    </div>
                    <div class="border width-fit mar-top">
                        <div class="icon"> <img class="mar-left" src="../icons/Rectangle 8.png" alt="">
                      </div>
                        <div class="icon">    <img class="mar-left" src="../icons/Rectangle 9.png" alt="">
                     </div>
                        <div class="icon">  <img class="mar-left" src="../icons/Rectangle 10.png" alt="">
                   </div>
                        <div class="icon">    <img class="mar-left" src="../icons/Rectangle 11.png" alt="">
                     </div>
                        <div class="icon">     <img class="mar-left" src="../icons/Rectangle 12.png" alt="">
                   </div>
                        <div class="icon">  <img class="mar-left" src="../icons/Rectangle 13.png" alt="">
                </div>
                            </div>
                </div>
                
                <div class="lines">
                   
    
                    <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow1" width="119" height="302" viewBox="0 0 119 302" fill="none">
                        <path d="M0.5 1C44.1667 48.5 125.2 193.5 118 301.5" stroke="url(#paint0_linear_16_234)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_234" x1="64.2522" y1="26" x2="64.2522" y2="301.5" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
    
                      <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow2" width="68" height="312" viewBox="0 0 68 312" fill="none">
                        <path d="M1 1C44.6667 48.5 73.2003 203 66.0003 311" stroke="url(#paint0_linear_16_235)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_235" x1="37.4225" y1="24" x2="37.4225" y2="311" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
    
                      <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow3" width="23" height="314" viewBox="0 0 23 314" fill="none">
                        <path d="M1 1C20.2534 73.3321 22 254.819 22 314" stroke="url(#paint0_linear_16_236)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_236" x1="24" y1="27" x2="24" y2="324" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
    
                      <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow4" width="36" height="293" viewBox="0 0 36 293" fill="none">
                        <path d="M35 1C15.9999 67 0.500002 238.5 0.5 292.5" stroke="url(#paint0_linear_16_233)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_233" x1="9.75" y1="18" x2="9.75" y2="289" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
    
                      <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow5" width="72" height="271" viewBox="0 0 72 271" fill="none">
                        <path d="M71.5 0.5C27.8333 48 -5.20008 162.5 1.99992 270.5" stroke="url(#paint0_linear_16_232)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_232" x1="36.2556" y1="0.5" x2="36.2556" y2="270.5" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
    
                      <svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow6" width="124" height="279" viewBox="0 0 124 279" fill="none">
                        <path d="M123 0.5C79.3333 48 -6.2 170 1 278" stroke="url(#paint0_linear_16_231)"/>
                        <defs>
                          <linearGradient id="paint0_linear_16_231" x1="61.7863" y1="0.5" x2="61.7863" y2="278" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3D1768"/>
                            <stop offset="1" stop-color="#3D1768" stop-opacity="0"/>
                          </linearGradient>
                        </defs>
                      </svg>
                </div>
    
                <div class="container-cloud ">
                   
                        <div class="circle circle3">
                          <div class="circle circle4">
                            <div class="circle circle5">
                              <div class="circle circle6">
                                <div class="circle circle7">
                                  <div class="img-M ">
                                    <img src="../imgs/icons8-coding-100.png" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                </div>
                        
                    
                </div>
            </div>
        </div>
    </section>
</body>
